/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#background {
  background: url('http://www.rodalenews.com/files/images/slideshow2/smoothie-ingredients-scoops.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.recipe-card{
  padding: 3px 3px 3px 3px;
  background-color: rgba(255,255,255,0.85);
  border:10px solid rgba(255,165,0,0.5);
  height : 30em;
}

.pcenter {

    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}


.titlebox{
    background: rgba(158,216,255,0.5);
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;

}

.detail{
    background-color: rgba(255,255,255,0.85);
    border:10px solid rgba(255,165,0,0.5);

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.media {
  margin-top: 15px;
}


.media-body {
  display: table-cell;
  vertical-align: top;
}

.review{

    border-bottom:3px solid lightgrey;
    padding-left: 30px
}