<div class="container-fluid" ng-controller="AddRecipeCtrl">
    <div class="row">
    <div class="detail form-group col-sm-6 col-md-6 text-center">
        <label class="text-center">Recipe Name
            <input type="text" class="form-control" name="recipeName" placeholder="Recipe Name" ng-model="recipe.name" />
        </label>

    <br>

        <label>Recipe Description
            <textarea type="text" class="form-control" placeholder="Recipe Description" ng-model="recipe.description"></textarea>
        </label>

    <br>

        <label>Recipe Directions
            <textarea type="text" class="form-control" placeholder="Recipe Directions" ng-model="recipe.directions"></textarea>
        </label>

    <br>

        <label>Ingredients
            <br>
            <input type="text" class="form-control" placeholder="Ingredients" ng-model="ingredientName">
        </label>

    <br>

        <button class="btn btn-info btn-sm" ng-click="addIngredientToRecipe(ingredientName)">Add ingredient to recipe</button>

    <br>

        <p>Your ingredients:</p>
        <ol>
            <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
        </ol>

    <br>

        <label>Add A Photo</label>
        <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)" />


    <hr>

        <button class="btn btn-info btn-sm" ng-click="addRecipe()">Save New Recipe</button>

</div>
</div>
</div>