<section>
<div class="container-fluid">

<div class="detail">
<div style="text-align: center" ng-controller="RecipeDetailCtrl">
    <h1>{{recipe.name}}</h1>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 img-responsive" align="center" >
    <img src="{{ recipe.photo }}" width=40%>
        </div>
        <hr>

    <h4 >Description</h4>
    <p class="pcenter">{{recipe.description}}</p>

        <hr>

    <div class="col-sm-6 col-lg-6" style="text-align: center" >
    <h4>Direction</h4>
    <p>{{ recipe.direction}}</p>
    </div>

    <div class="col-sm-6 col-lg-6" style="text-align: center; border-left:2px solid lightgrey" >
    <h4>Ingredients</h4>
        <ul ng-repeat="ingredient in recipe.ingredients">
            <li>{{ ingredient.name }}</li>
        </ul>
    </div>
    </div>

        <hr>

    <div class="container-fluid" style="text-align: center; padding-top: 20px">
        <a href="#/add-recipe" class="btn btn-info">Add Your Recipe</a>
        <button type="button" class="btn btn-danger" ng-click="deleteRecipe()">Delete</button>
    </div>



        <hr>

    <div style="text-align: left" ng-repeat="review in recipe.reviews">
        <h4 style="border-bottom:3px solid lightgrey; padding-left: 30px">
            <span class="glyphicon glyphicon-user"></span>
            "{{review.title}}" ----by {{ review.username }}</h4>

        <span class="glyphicon glyphicon-console" style="padding-left: 30px"> {{ review.reviews }}</span>
    </div>


        <hr>



        <a class="btn btn-info" ng-click="toggle()" >Add Your Review!</a>

        <div class="container-fluid" ng-hide="reviewform">
            <h3>Please write your review.</h3>

              <div class="form-group">
                <label>Your Name</label>
                <input type="text" class="form-control" placeholder="Your Name" ng-model="reviewUserName">

                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" ng-model="reviewTitle">

                  <label>Your Score:</label>

                <label>Your Opinion</label>
                <input type="text" class="form-control" placeholder="I think..." ng-model="reviewContent">
              </div>

              <br>

              <button class="btn btn-info" ng-click="addReview()" ><span class="glyphicon glyphicon-cloud-upload"></span> Submit</button>
             {{successMessage}
        </div>






</div>
</div>

</div>
</section>




